In [2]:
import xgboost
import pandas as pd
import numpy as np

# Read In Data

In [3]:
df_ethereum = pd.read_csv('../Data/partitioned_coins/Ethereum.csv').drop('Unnamed: 0', axis=1)

# Train-Test Split

In [4]:
len_df = len(df_ethereum)
df_ethereum[]

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target,Datetime
0,1514764860,6,173.0,738.302500,746.00,732.51,738.507500,335.987856,738.839291,-0.004809,2017-12-31 16:01:00
1,1514764920,6,192.0,738.507500,745.14,732.49,738.260000,232.793141,738.268967,-0.004441,2017-12-31 16:02:00
2,1514764980,6,120.0,738.332500,745.12,730.00,737.502500,174.138031,737.994457,-0.004206,2017-12-31 16:03:00
3,1514765040,6,156.0,737.222500,744.69,728.93,737.102500,165.383926,737.303631,-0.002205,2017-12-31 16:04:00
4,1514765100,6,118.0,736.530000,743.80,727.11,735.705000,193.078039,736.163026,-0.001744,2017-12-31 16:05:00
...,...,...,...,...,...,...,...,...,...,...,...
1956195,1632182160,6,2162.0,2973.728686,2976.10,2962.09,2964.711429,751.256906,2968.339295,NaN,2021-09-20 16:56:00
1956196,1632182220,6,1976.0,2965.461446,2967.95,2958.05,2960.845714,729.113672,2963.499199,NaN,2021-09-20 16:57:00
1956197,1632182280,6,2262.0,2960.321429,2962.60,2954.14,2957.398571,807.935362,2958.464868,NaN,2021-09-20 16:58:00
1956198,1632182340,6,3594.0,2958.771429,2978.71,2956.75,2977.190000,1723.473979,2970.867698,NaN,2021-09-20 16:59:00
1956199,1632182400,6,2205.0,2976.858333,2978.82,2969.35,2972.603333,1204.825710,2975.213919,NaN,2021-09-20 17:00:00